

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

@font-face {
  font-family: Baskervville;
  src: url(Baskervville-VariableFont_wght.ttf);
}

h1 {
  margin: none;
}

h3 {
  margin-bottom: 3%;
  margin-top: 3%;
  font-family: Baskervville;
  font-weight: 600;
  color: rgb(40, 18, 14);
}

a {
  color: rgb(225, 57, 138);
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-image: url("wooden-floor-background.jpg");
  background-attachment: fixed;
}

html{
  overscroll-behavior: none;
}

#logo{
  filter: drop-shadow(4px 4px 9px rgb(49, 29, 18));
}

header {
  max-width: 1500px;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 3%;
}

main {
  max-width: 1500px;
  padding-top: 0;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
}

img {
  width: 100%;
  min-width: 350px;
  max-width: 350px;
  display: block;
}

summary::marker {
  content: "";
}

summary::after {
  font-family: Baskervville;
}

#plantgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0,350px));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.centerh {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 150%;
}

.cardtitle {
  margin-left: 1rem;
}

.card {
  background-image: url("oldpaper.jpg");
  background-size: cover;
  display: flex;
  min-width: 0px;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  min-width: 350px;
  max-width: 350px;
  filter: drop-shadow(4px 4px 9px rgb(49, 29, 18));
}

.card p {
  font-family: Baskervville;
}

.plantimage {
  background-color: aqua;
  display: inline-block;
  width: 40vw;
  min-width: 350px;
  max-width: 350px;
  transition: all 0.25s ease-in-out;
  transform: none;
  transform-origin: center;
}

.underlay {
  position: absolute;
  bottom: 0;
  transition: all .25s;
  overflow: hidden;
  width: 0;
  height: 0;
  background: rgb(0, 0, 0);
  text-align: center;
  font-size: 60px;
  padding: 0;
}

.undertext {
  color: white;
  font-size: 20%;

}

.plantimage:hover {
  transform: scale(1.2) rotate3d(1, 2, 1, 20deg);
  z-index: 10;
}

.plantimage:hover .underlay,
underlay:hover {
  width: 100%;
  height: 25%;
  padding: 1%;
}

.wfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.wfound:open{
  & summary{
    &::after{
      content: "The Wizard";

    }
      pointer-events: none;
      user-select: none;
  }
}

.ffound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.ffound:open{
  & summary{
    &::after{
      content: "The Fighter";
    }
      pointer-events: none;
      user-select: none;
  }
}

.dfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.dfound:open{
  & summary{
    &::after{
      content: "The Druid";
    }
      pointer-events: none;
      user-select: none;
  }
}

.pfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.pfound:open{
  & summary{
    &::after{
      content: "The Paladin";
    }
      pointer-events: none;
      user-select: none;
  }
}

.bfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.bfound:open{
  & summary{
    &::after{
      content: "The Bard";
    }
      pointer-events: none;
      user-select: none;
  }
}

.cfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.cfound:open{
  & summary{
    &::after{
      content: "The Cleric";
    }
      pointer-events: none;
      user-select: none;
  }
}

.sfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.sfound:open{
  & summary{
    &::after{
      content: "The Sorcerer";
    }
      pointer-events: none;
      user-select: none;
  }
}

.rfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.rfound:open{
  & summary{
    &::after{
      content: "The Rogue";
    }
      pointer-events: none;
      user-select: none;
  }
}

.rnfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.rnfound:open{
  & summary{
    &::after{
      content: "The Ranger";
    }
      pointer-events: none;
      user-select: none;
  }
}

.mfound:not(:open){
  & summary{
    &::after{
      content: "Found it?";
    }
  }
}

.mfound:open{
  & summary{
    &::after{
      content: "The Monk";
    }
      pointer-events: none;
      user-select: none;
  }
}

.backtext {
  font-family: Baskervville;
  font-size: small;
  color: rgb(40, 18, 14);
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.plantdetailed {
  background-image: url("oldpaper.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 350px;
  max-width: 1000px;
  filter: drop-shadow(4px 4px 9px rgb(49, 29, 18));
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  font-family: Baskervville;
}

.plantdetailed h1 {
  margin-top: 3%;
  margin-left: 3%;
}

.plantrow {
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
}

.plantrow p{
  padding: 2%;
}

.plantrow img{
  margin-bottom: 5%;
}

.planttext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.planttext p {
  margin: 1%;
  padding: 0;
}

@media (max-width: 700px) { 
  .plantrow {
    flex-direction: column; 
    align-items: center;
  }
}